table 
{
    border-collapse: collapse; /*границы между ячейками ;  collapse - границы ячеек объединяются в одну общую линию*/
}

td 
{
    width: 50px;
    height: 50px;
}

.l1
{
    background-color: #40FFFF;
    border: 4px solid White;
}
.l2
{
    background-color: blue;
    border: 4px solid White;
}

.c1
{
    background-color: DarkOrange;
    border: 4px solid White;
}
.c2
{
    background-color: blue;
    border: 4px solid White;
}

.r1
{
    background-color: #00FF7F;
    border: 4px solid White;
}
.r2
{
    background-color: Violet;
    border: 4px solid White;
}