/* 1) Выбрать элементы input типа checkbox и назначить им свойство box-shadow. */
input[type="checkbox"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


/* 2) Переопределить цвет тени (box-shadow) для отмеченных элементов checkbox. */
input[type="checkbox"]:checked {
    box-shadow: 0 0 5px 2px green;
}


/* 3) Задать фоновый цвет для div с классом cb. */
div.cb {
    background-color: #5ca4e4;
}


/* 4) Найти все элементы с id="message" и id="message-*" и назначить им фоновый цвет. */
#message, [id^="message-"] {
    background-color: #a88a12;
    padding: 5px;
    margin: 2px 0;
}
/*
[id^="message-"] - Выбирает все элементы, у которых атрибут id начинается с message-.
^= — оператор "начинается с".
#message <=> [id="message"]
*/


/* 5) Найти все элементы с id="message-*" и задать им рамку и внешние поля. */
[id^="message-"] {
    border: 5px solid black;
    margin: 10px;
}


/* 6) Найти все ссылки с расширением href="..zip" и задать цвет ссылки при наведении на нее курсора мыши. */
a[href$=".zip"] {
    color: hotpink;
}

/* hover - при наведении на объект, focus - при фокусировке на объекте, например, tab */
a[href$=".zip"]:hover,
a[href$=".zip"]:focus {
    color: red;
    /* cursor: pointer; */
}


/* 7) Найти все элементы с атрибутом data-action, содержащим слово delete в списке (как полноценное слово, встречающееся с другими словами через пробел), и задать цвет текста. */

/* [атрибут~="значение"] - он ищет элементы, у которых в заданном атрибуте есть список слов, разделённых пробелами, и среди них встречается указанное слово.*/
[data-action~="delete"] {
    color: green;
}


/* 8) Найти все элементы, которых ЕСТЬ атрибут data-action, но НЕ содержащих delete в списке (как полноценное слово, встречающееся с другими через пробел), и задайте другой цвет фона. */

/* без слова "delete" */
[data-action]:not([data-action~="delete"]) {
    background-color: aqua;
}


/* 9) Выбрать все четные элементы списка #messages и изменить тип и ширину рамки. */
/* even - четные, odd - нечетные */
#messages li:nth-child(even) {
    border: 5px dashed yellowgreen;
}


/* 10) Выбрать один элемент сразу за заголовком h3#widget-title на том же уровне вложенности, и сделать жирное начертание текста. */
h3#widget-title + * {
  font-weight: bold;
}


/* 11) Выбрать все ссылки, следующие за заголовком h3#widget-title на том же уровне вложенности и
сделать курсивное начертание текста. */
/* Все ссылки-соседи после h3#widget-title */
h3#widget-title ~ a {
  font-style: italic;
}


/* 12) Выбрать ссылку внутри последнего элемента списка #messages и назначить цвет ссылки при наведение на нее курсором мыши. */
#messages li:last-child a:hover {
    color: black;
}