
body {
		padding: 10px;
    width: 300px;
    margin: auto; /* Выравниваем по центру */
}

.content {
	text-align: center;
}

ol#menu li {
	display: inline;
}

li {
	padding: 10px;
}