body {
  padding: 10px;
  width: 1200px;
  margin: auto; /* Выравниваем по центру */
}

table {
  width: 100%;
  height: 100%;
}

td {
  height: 40px;
  border: solid 1px silver; 
  text-align:center;
}